html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}
div, span, a, header {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}
body {
    padding:0;
    margin:0;
}
ul,li {
    margin:0;
    padding:0;
    list-style-type:none;
}

/* tt Header Bar */
.tt-header {
    min-height:44px;
    padding:0;
    margin:0;
    text-decoration: none;
    color:#252525;
    width:100%;
}
.tt-header, .tt-header a {
    font-family: "PingHei","Lucida Grande", "Lucida Sans Unicode", "STHeiti", "Helvetica","Arial","Verdana","sans-serif";
    color:#252525;
    text-decoration: none;
    font-size:16px;
}
.tt-footer, .tt-footer a {
    font-family: "PingHei","Lucida Grande", "Lucida Sans Unicode", "STHeiti", "Helvetica","Arial","Verdana","sans-serif";
}
.tt-footer-links a {
    display:inline-block;
    width: 72px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.1em;
}
.tt-header-bar {
    position:relative;
    background:#007dc0;
    min-height:44px;

}
.tt-1px-line-up {
    height:0px;
    border-top:1px solid #bfbfbf;
    border-width: 1px 0 0 0;
}
.tt-header-icon-back span, .tt-header-icon-shortcut span, .tt-header-icon-cancel span, .tt-header-icon-logo span, .tt-header-shortcut span, .tt-header-icon-category span, .tt-header-icon-search span, .tt-header-icon-close:after, .tt-auto-complete-list li:before, .tt-footer-platforms li a:before, .tt-footer-platforms li a.badge:after, .tt-search-tab li.sort-by-integrative a:after, .tt-search-tab li.sort-by-integrative.active a:after, .tt-search-tab li.sort-by-price a:after, .tt-search-tab li.sort-by-price.active a.arrow-down:after, .tt-search-tab li.sort-by-price.active a.arrow-up:after, .sidebar-categories .arrow, .sidebar-categories li li.checked .tick, .sidebar-btn-location:after, .supplier-arrow-right, .landing-keywords a:before, .hot-search-bar span i:before {
    display:block;
    background-size: 200px 200px;
}
.tt-header-icon-back span, .tt-header-icon-shortcut span, .tt-header-icon-cancel span, .tt-header-icon-search span {
    text-indent:-100px;
    overflow: hidden;
}
.on-focus .tt-header-icon-back, .on-focus .tt-header-icon-shortcut, .on-blur .tt-header-icon-cancel, .on-blur .tt-header-icon-close, .on-blur .tt-header-icon-search {
    display:none;
}
.on-blur .tt-header-search-input {
    border-right:1px solid #bfbfbf;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.tt-header-icon-back, .tt-header-icon-logo {
    position:absolute;
    width:40px;
    height:44px;
}
.tt-header-icon-back span {
    width: 20px;
    height: 32px;
    background: url(../images/h_arrow_left.png) no-repeat;
    background-size: 80%;
    margin: 8px 0 0 10px;
}



.tt-header-icon-shortcut, .tt-header-icon-category {
    position:absolute;
    right:0;
    top:0;
    width:40px;
    height:44px;
    overflow: hidden;
}
.tt-header-icon-shortcut span {
    width: 30px;
    height: 30px;
    background: url(../images/h_arrow_home.png) no-repeat;
    margin: 8px 10px 0 10px;
}
.tt-header-icon-category span {
    width:20px;
    height:30px;
    background-position: -2px -30px;
    margin:8px 0 0 10px;
    text-indent:-200px;
    overflow: hidden;
}
.tt-header-icon-cancel {
    position:absolute;
    width:40px;
    height:44px;
}
.tt-header-icon-cancel span {
    width:20px;
    height:20px;
    background-position: -40px 0;
    margin:12px 0 0 10px;
}
.tt-header-icon-close {
    position:absolute;
    right:40px;
    width:30px;
    height:30px;
    top:7px;
}
.tt-header-icon-close:after {
    content:'';
    width:14px;
    height:12px;
    background-position: -103px 0;
    margin:10px 0 0 5px;
}
.tt-header-icon-search {
    position:absolute;
    right:10px;
    width:30px;
    height:30px;
    top:7px;
    border-radius: 0 4px 4px 0;
    border:1px solid #bfbfbf;
}
.tt-header-icon-search span {
    width:14px;
    height:14px;
    background-position: -84px 0;
    margin:8px 0 0 8px;
}
.tt-header-title {
    margin:0 50px;
    text-align: center;
    height:44px;
    line-height: 44px;
    font-size:16px;
	color:#fff;
}
/* tt Header Shortcut */
.tt-header-shortcut {
    display: table;
    width: 100%;
    background: #404042;
    height:57px;
}
.tt-header-shortcut li {
    display: table-cell;
    width:25%;
    text-align: center;
}
.tt-header-shortcut li.current {
    background: #2d2d2d;
}
.tt-header-shortcut a {
    border:0;
    color:#fff;
}
.tt-header-shortcut span, .tt-header-shortcut strong {
    display:block;
    margin:0 auto;
    color:#fff;
    font-weight: normal;
    font-size:12px;
}
.tt-header-shortcut span {
    width:30px;
    height:30px;
    margin-top:6px;
}
.tt-header-shortcut span.shortcut-home {
    background-position: -30px -27px;
}
.tt-header-shortcut span.shortcut-categories {
    background-position: -60px -27px;
}
.tt-header-shortcut span.shortcut-cart {
    background-position: -90px -27px;
}
.tt-header-shortcut span.shortcut-my-account {
    background-position: -120px -27px;
}
/* Header Search Trigger */
.tt-header-search-trigger {
    padding:0;
    margin:0 40px;
    width:auto;
    height:44px;
    overflow:hidden;
}
.tt-header-inpt {
    display: table;
    width:100%;
    padding:0;
    margin-top:7px;
}
.tt-header-inpt span {
    display: table-cell;
    vertical-align: middle;
    height:28px;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
    border:1px solid #bfbfbf;
    padding:0 10px;
    font-size: 12px;
}
.placehoder {
    color:#d7d7d7;
}
/* tt Header's Search Form */
.tt-header-search-form {
    display:block;
    padding:0;
    margin:0 10px 0 40px;
    height:44px;
    overflow:hidden;
}
.tt-header-search-box {
    margin-top:7px;
    height:30px;
    margin-right:32px;
}
.tt-header-search-input {
    display:block;
    width:100%;
    border:1px solid #bfbfbf;
    border-radius: 4px 0 0 4px;
    height:30px;
    overflow:hidden;
    background: #fff;
    font-size:12px;
    border-right:0;
}
.tt-header-search-input input {
    border:0;
    background:none;
    font-size:12px;
    line-height: 1.2em;
    height:1.2em;
    margin-top:6px;
    margin-left:10px;
    width:80%;
}
/* tt AutoComplete */
#diver {
    height: 44px;
}
.tt-auto-complete-result{
    font-family: "PingHei","Lucida Grande", "Lucida Sans Unicode", "STHeiti", "Helvetica","Arial","Verdana","sans-serif";
}
.tt-auto-complete-result ul, .tt-auto-complete-result li {
    display:block;
}
.tt-auto-complete-list li {
    display:table;
    width: 100%;
    font-size:12px;
    color:#686868;
    background-color: #f3f5f7;
    line-height: 44px;
    min-height:44px;
    overflow:hidden;
    border-bottom:1px solid #bfbfbf;
    border-width: 0 0 1px 0;
}
.tt-auto-complete-list li:before {
    display: block;
    position: absolute;
    content:'';
    width:15px;
    height:15px;
    background-position:-122px 0;
    margin:0 5px 0 10px;
}
.tt-auto-complete-item {
    display: block;
    font-size:12px;
    color:#686868;
    text-decoration: none;
    padding-left:30px;
    height:1em;
    line-height: 1em;
    width:80%;
    overflow: hidden;
}
.tt-auto-complete-item strong {
    font-weight:normal;
    color:#252525;
}
.tt-auto-complete-list span {
    display: table-cell;
    font-size:11px;
    color:#848689;
    text-decoration: none;
    padding-right:10px;
    padding-left:10px;
    width:20%;
    white-space: nowrap;
    text-align: right;
}
/* tt Footer */
.tt-footer {
    background: #f8f8f8;
    color:#848689;
    text-align: center;
    font-size:12px;
}
.tt-footer-links {
    width: 320px;
    margin:0 auto;
    display:table;
    height:13px;
    padding:18px 0;
}
.tt-footer-links li {
    display: table-cell;
    width:69px;
    height:13px;
    line-height:13px;
    font-size:13px;
}
.tt-footer-links li a {
    color:#848689;
    text-decoration: none;
}
.tt-footer-links li:first-child, .tt-footer-links li:last-child {
    width:90px;
}
.tt-footer-links li:first-child, .tt-footer-links li:nth-child(2) {
    border-right:1px solid #d7d7d7;
}
.tt-footer-links li:last-child {
    border-left:1px solid #d7d7d7;
}
.tt-footer-platforms {
    height:69px;
    width: 320px;
    margin:0 auto;
    display:table;
}
.tt-footer-platforms li {
    display:table-cell;
}
.tt-footer-platforms li a {
    display: block;
    width:45px;
    margin:0 auto;
    font-size:12px;
    color:#848689;
    text-decoration: none;
    position: relative;
}
.tt-footer-platforms li.current a {
    color:#252525;
}
.tt-footer-platforms li a.badge:after {
    content: "";
    display:block;
    width:10px;
    height:10px;
    position: absolute;
    top:2px;
    right:3px;
    background-position: -150px 0;
}
.tt-footer-platforms li a:before {
    content:"";
    display: block;
    height:38px;
    width:33px;
    margin:9px auto 0;
    background-position: 0 -70px;
    opacity: 0.6;
}
.tt-footer-platforms li.current a:before {
    opacity: 1;
}
.tt-footer-platforms li.tt-footer-icon-touchscreen a:before  {
    background-position: -40px -70px;
}
.tt-footer-platforms li.tt-footer-icon-pc a:before  {
    background-position: -80px -70px;
}
.tt-footer-platforms li.tt-footer-icon-apps a:before  {
    background-position: -120px -70px;
}
.tt-footer-copyright {
    height:44px;
    line-height: 44px;
    text-align: center;
    color:#848689;
    font-size:12px;
}
.tryme {
    background:rgba(0,0,0,0.8);
    width:100%;
    height:50px;
}
.tryme.onfoot {
    position:fixed;
    z-index:10;
    bottom:0;
}
.tryme div {
    width:320px;
    height:50px;
    margin:0 auto;
    background: url(../images/2015/tryme.png?v=2) no-repeat center center;
    background-size: 320px 50px;
    position: relative;
}
.tryme .later {
    border:0;
    display: block;
    left:4px;
    top:9px;
    width:32px;
    height:32px;
    position: absolute;
}
.tryme .trynow {
    border:0;
    display: block;
    left:40px;
    width:280px;
    height:50px;
    position: absolute;
}
.tryme span {
    display: block;
    width:140px;
    margin-left:90px;
    padding-top:10px;
    color:#fff;
    font-size:12px;
    line-height: 15px;
}
/*check box*/
.chkbox-40 {
    display:inline-block;
    width:20px;
    height:20px;
    background:url(../images/2015/tt-sprites.png) no-repeat -180px -90px;
    background-size: 200px 200px;
}
.chkbox-40.checked {
    background-position: -180px -70px;
}